/* /////////////////////////////////////////// Navbar Styles //////////////////////////////////// */
.navbar {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: rgb(253, 144, 248);
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}
.navbar .logo1 span {
  color: rgb(253, 144, 248);
}
/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #fff;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #555;
  }
}

/* /////////////////////////////////////////// Common Styles //////////////////////////////////// */

.button {
  background-color: rgb(253, 144, 248);
  max-width: 200px;
  border: none;
  border-radius: 30px;
  box-shadow: 5px 2px 15px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  color: #000000;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button1 {
  color: rgb(253, 144, 248);
}
.button1:hover {
  color: #262626;
  text-shadow: 1px 1px 2px #000000, 0 0 25px #2e9ac5, 0 0 5px #ffffff;
}

.fbutton {
  color: #000000;
  background-color: rgb(253, 144, 248);
}
.fbutton:hover {
  color: #949da0;
  background-color: #262626;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 4, 219, 0.5);
  box-shadow: 0px 0px 15px 5px rgba(0, 219, 219, 0.5);
}
.navmenu {
  color: #302f2f;
}
.navmenu:hover {
  color: #db002f;
  text-shadow: 1px 1px 2px #db002f;
}
.badge-notify {
  background: rgb(253, 144, 248);
  position: relative;
  top: -20px;
  left: -5px;
}
.cardb {
  -webkit-box-shadow: -1px 1px 60px 10px black;
  box-shadow: -1px 1px 60px 10px black;
  border-radius: 0px 100px 0px 100px;
  min-width: 400px;
  margin-left: 5px;
  margin-top: 5px;
}

.card_home {
  -webkit-box-shadow: -1px 1px 40px 5px black;
  box-shadow: -1px 1px 40px 0px rgb(139, 138, 138);
}
/* ////////////////////////////////////// Common Styles End ///////////////////////////////////// */

/* ////////////////////////////////////// Contact ///////////////////////////////////// */
.contact {
  background-image: url(../image/background/contact.jpg);
  background-size: cover;
  background-attachment: fixed;
  max-width: 100vw;
  position: center center;
}
.contactEmail {
  color: white;
}
.bgcolor {
  background: transparent;
  border-radius: 0;
  border: 0px;
  border-bottom: 2px solid lightgreen;
  margin-top: 18px;
  padding: 23px;
  color: white;
}
.buttonlogin {
  margin-top: 5px;
  font-size: 25px;
  width: 200px;
  background: transparent;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.buttonlogin:hover {
  color: #070606;
  background-color: lightgreen;
}
.contactBg {
  -webkit-box-shadow: -1px 1px 60px 10px black;
  box-shadow: -1px 1px 60px 10px black;
  border-radius: 0px 100px 0px 100px;
  margin-top: 100px;
  margin-bottom: 50px;
  height: 550px;
  background: rgba(0, 0, 0, 0.4);
} /*///////////////////////////////////////////// Backgroind video ////////////////////////////////////////// */

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.bodymp4 {
  font-family: Trebuchet MS;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(180, 212, 223, 0.836);
  width: 100%;
  height: 100vh;
  opacity: -1;
}

/*/ //////////////////////////////////////////// About us styles ////////////////////////////////////////// */

.aboutUs {
  background: url(../image/background/kompyutery-monitory--noutbuki-noutbuk-1469031.jpg)
    no-repeat left;
  background-size: 48%;
  background-color: white;
  overflow: hidden;
  padding: 100px 0;
}
.inner-container {
  width: 60%;
  float: right;
  background-color: white;
  padding: 70px;
}
.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}
.AboutUstext {
  font-size: 16px;
  color: #545454;
  text-align: justify;
}
.borderAbout {
  height: 3px;
  width: 150px;
  background-color: red;
}
@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .aboutUs {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .aboutUs {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}
/* ///////////////////////////////////////////// Home Page styles ////////////////////////////////////////// */

.paymentImg {
  width: 60px;
  height: 40px;
}

/* ////////////////// carousel styles ////////////////// */
.carousel-item {
  min-height: 350px;
  height: 80vh;
  width: 100%;
}
.home-content .sentence {
  font-size: 30px;
  color: rgb(253, 144, 248);
  font-family: "Kaushan Script", cursive;
  margin-bottom: 230px;
  margin-left: -50px;
}

/* //// Animation delays //// */
.carousel-caption h1 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.carousel-caption p {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.carousel-caption a {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

@-webkit-keyframes zoomOut {
  from {
    -webkit-transform: scale(2.2, 2.2);
  }
  to {
    -webkit-transform: scale(1.1, 1.1);
  }
}

@keyframes zoomOut {
  from {
    -webkit-transform: scale(2.2, 2.2);
  }
  to {
    -webkit-transform: scale(1.1, 1.1);
  }
}
.zoomOut {
  -webkit-animation: zoomOut 15s;
  animation: zoomOut 15s;
}

@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  to {
    -webkit-tranpaymentform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
  }
}

@keyframes zoomIn {
  from {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  to {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
  }
}

.zoomIn {
  -webkit-animation: zoomIn 15s;
  animation: zoomIn 15s;
}
/* ////////////// carousel style end //////////////// */

/* ///////////////////////////////////// Home Page products styles ///////////////////////////////// */
.zoom:hover {
  -s-transform: scale(1.1);
  -webkit-tranpaymentform: scale(1.1);
  -ms-tranpaymentform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  -o-transition: transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.productName {
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.fit-image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
/* ///////////////// Home Page products styles End /////////////////// */

/* ////////////////////////////////////////// Home Page Styles End //////////////////////////////////// */

/* ///////////////////////////////////////// Dashboard Styles /////////////////////////////////// */
#userImg {
  margin-top: -100px;
  z-index: 10;
  border-radius: 50%;
}

/* //////////////////////////// Feedback Stars ///////////////////////////////// */
.star-widget label {
  color: #444;
  font-size: 25px;
  float: right;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.inputs:not(:checked) ~ label:hover,
.inputs:not(:checked) ~ label:hover ~ label,
.inputs:checked ~ label {
  color: rgb(68, 134, 255);
}
/* .inputs:checked ~ label {
  color: #fd4;
} */
.inputs#rate-5:checked ~ label {
  color: rgb(194, 119, 255);
  text-shadow: 0 0 20px rgb(153, 34, 84);
}
/* /////////////////////////////////////////////////////// */

/* ///////////////////////////////////////// Dashboard Styles End /////////////////////////////////// */

/* ///////////////////////////////////// Cart Styles ////////////////////////////////////// */
.a:focus {
  outline: none;
}

.cusinput {
  outline: none;
}
/* /////////////////////////////////////// Cart Styles End ////////////////////////////////// */

/* /////////////////////////////////////// Payment Page Styles /////////////////////////////// */
#paymentForm fieldset {
  border: 0 none;
  border-radius: 0.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

#paymentForm .action-button {
  width: 100px;
  font-weight: bold;
  border: 0 none;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
}

#paymentForm .action-button-previous {
  width: 100px;
  background: #000000;
  font-weight: bold;
  color: black;
  border: 0 none;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

#paymentForm .action-button-previous:hover,
#paymentForm .action-button-previous:focus {
  background-color: #0071db;
  -webkit-box-shadow: 0 10px 15px rgba(0, 22, 219, 0.5);
  box-shadow: 0 10px 15px rgba(0, 77, 219, 0.5);
}

.scard {
  z-index: 0;
  border: none;
  position: relative;
}

.fieldlabels {
  color: gray;
  text-align: left;
}

#progressbar {
  /* overflow: hidden; */
  list-style: none;
  color: lightgrey;
  display: flex;
}

#progressbar .active {
  color: #db0080;
}

#progressbar li {
  font-size: 15px;
  width: 50%;
  /* float: left; */
  position: relative;
  font-weight: 400;
}

#progressbar #shiping::before {
  font-family: "Font Awesome 5 Free";
  content: "\f2c2";
  font-weight: 900;
}

#progressbar #paymentcard::before {
  font-family: "Font Awesome 5 Free";
  content: "\f09d";
  font-weight: 900;
}

#progressbar li::before {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 45px;
  display: block;
  margin: 0 auto 0 auto;
  padding: 2px;
  font-size: 20px;
  color: white;
  background: lightgray;
}

#progressbar li::after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active::before,
#progressbar li.active::after {
  background: #0033db;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: #0028db;
}

/* /////////////////////////////////////// Payment Page Styles End /////////////////////////////// */

/* //////////////////////////////////////////////////////////// */
.gallery .full,
.gallery .full img {
  max-height: 500px;
  max-width: 430px;
}
.gallery .previews a,
.gallery .full {
  border: 4px solid #eee;
}
.gallery .previews a:hover,
.gallery .previews a.selected {
  border: 4px solid #777;
}

/* /////////////////////////////////////////////////// MEDIA QUERIES /////////////////////////////////////////////// */
@media screen and (max-width: 320px) {
  /* ////// Navbar Changes ////// */
  #loginBtn,
  #logoutBtn {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .uname {
    display: none;
  }
  /* ////// Modal Width ////// */
  .modal-content {
    min-width: 220vw !important;
  }
}

@media screen and (max-width: 480px) {
  /* ////// Modal Width ////// */
  .modal-content {
    width: 150vw !important;
  }
}

@media screen and (max-width: 576px) {
  .mid-logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #sec-nav > ul {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  #userImg {
    margin: 0px;
  }
}
